# Ignore everything by default
*/

# Include
!.gitignore
!LICENSE
!README.md
!iterm
!scripts
!tmux
!vscode
!warp
!warp/themes
!zsh
!zsh/functions
!.zshenv

.DS_Store
iterm/AppSupport
zsh/.zcompdump
zsh/.zsh_history
scratch.md
